::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white!important;
  opacity: 50%!important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white!important;
  
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white!important;
}

.footer-prompt {
  color: rgb(216, 216, 216)
}

.signin-up:hover {
  text-decoration: underline;
  cursor: pointer;
}
