.login-btn {
  border-radius: 30px;
  width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 30px;
}

.signup-btn {
  border-radius: 30px;
  width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 30px;
}